<p *ngIf="sp; else info" appDontClick>Your love most: {{ sp | uppercase }}</p>
<ng-template #info>
  <p appBestHighlight>Please answer Survey</p>
</ng-template>
<div class="row">
  <div class="col-xs-12">
    <h3>Our readers prefer:</h3>
  </div>
</div>
<div *ngIf="isLoading" style="text-align: left">
  <app-loading2-spinner></app-loading2-spinner>
</div>
<div class="row" *ngIf="!isLoading">
  <div class="col-xs-10">
    <ul>
      <li>Surfing total: {{ surf }}</li>
      <li>Kitesurfing: {{ kitesurf }}</li>
      <li>Windsurfing: {{ windsurf }}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-danger" (click)="onActivate()">Disclaimer</button>
  </div>
</div>
