<div class="row">
  <div class="col-xs-10">
    <app-backpack-edit (sportType)="onSport($event)"></app-backpack-edit>
    <hr />
    <ul class="list-group" style="margin-left: -40px">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let item of items"
        >{{ item.name }} ({{ item.amount }})</a
      >
    </ul>
  </div>
</div>
<div class="col-xs-4">
  <p
    *ngIf="indice; else noChoose"
    style="border-style: groove; margin-left: -40px; border-color: khaki"
  >
    Remeber your current choice is trip number: {{ indice }}
  </p>
  <ng-template #noChoose
    ><h4 appBestHighlight style="text-align: center">
      No trip is currently selected
    </h4></ng-template
  >
</div>
