<a
  style="cursor: pointer"
  [routerLink]="[ind]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="pull-left">
    <h4
      [ngStyle]="{ backgroundColor: ind % 2 === 0 ? '#eb4034' : 'transparent' }"
    >
      {{ ind + 1 }}) {{ trip.name }}
    </h4>
    <p>{{ trip.description }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="trip.imagePath"
      alt="{{ trip.name }}"
      class="img-responsive"
      style="max-width: 160px"
    />
    <button
      type="button"
      class="btn btn-warning"
      style="
        height: 20px;
        width: 60px;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 4px;
      "
      (click)="onWarn()"
    >
      Dont click
    </button>
  </span>
</a>
