<a href="#" class="list-group-item clearfix" (click)="onSelectItem()">
  <div class="pull-left">
    <h4
      [ngStyle]="{ backgroundColor: ind % 2 === 0 ? '#f3f5cb' : 'transparent' }"
    >
      {{ ind + 1 }}) {{ trip.name }}
    </h4>
    <p>{{ trip.description }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="trip.imagePath"
      alt="{{ trip.name }}"
      class="img-responsive"
      style="max-width: 160px"
    />
    <button type="button" class="btn btn-warning" (click)="onWarn()">
      Dont click
    </button>
  </span>
</a>
