<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group" style="margin-left: -20px">
          <label for="name"><span STYLE="font-weight:bold">Name</span></label>
          <input type="text" id="name" class="form-control" #nameInput />
        </div>
        <div class="col-xs-2 form-group">
          <label for="amount"
            ><span STYLE="font-weight:bold">Amount</span></label
          >
          <input type="number" id="amount" class="form-control" #amountInput />
        </div>
        <div class="col-sm-3 form-group" style="margin-left: -20px">
          <label for="sport"
            ><span STYLE="font-weight:bold">Sport Survey </span></label
          >
          <input type="text" id="name" class="form-control" #sportInput />
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit"
              style="margin-left: 25px; margin: 5px"
              (click)="onAdd()"
            >
              Add
            </button>
            <button class="btn btn-danger" type="button" style="margin: 5px">
              Delete
            </button>
            <button class="btn btn-primary" type="button" style="margin: 5px">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
