<div class="row">
  <div class="col-xs-12">
    <img
      [src]="trip.imagePath"
      alt="{{ trip.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ trip.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Trip <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a appBestHighlight href="#">Add to backpack</a></li>
        <li><a href="#">Edit Trip</a></li>
        <li><a href="#">Delete Trip</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ trip.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Items to carry</div>
</div>
